---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="О Нас">
  <section class="container about" aria-label="About Me">
    <img src="/images/about.png" alt="about" width="200" height="330" />
    <div class="content">
      <h1 class="h1">О Нас</h1>
      <p>
        Главный русскоязычный канал о Германии Миша Бур регулярно освещает
        новости Германии в формате «коротко о важном». Кроме новостного контента
        на его канале выходят интервью с успешными предпринимателями, ролики о
        получении ВНЖ и особенностях жизни в Европе.
      </p>
    </div>
  </section>
</MainLayout>
