---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="О Нас">
  <section class="container about" aria-label="About Me">
    <img src="/images/about.png" alt="about" width="200" height="330" />
    <div class="content">
      <h1 class="h1">О Нас</h1>
      <p>
        Этот сайт - новостное направление блогера Миши Бура и Команды.
      </p>
    </div>
  </section>
</MainLayout>
