---
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";

import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  filterOnlyHelp: true,
});

const { posts } = Astro.props;
---

<MainLayout title="Помощь беженцам">
  <section class="container about" aria-label="About Me">
    <img src="/images/help.png" alt="about" width="200" height="330" />
    <div class="content">
      <h1 class="h1">Помощь Беженцам</h1>
      <p>
        Друзья, я - Миша Бур и наша редакция открываем 👉 Центр информационной
        поддержки для:
        <hr />
        <ul>
          <li>
            украинцев, которые вынуждены были покинуть свою страну из-за боевых
            действий и оказались в Европе
          </li>
          <li>
            беларусов, которых хотят уехать в Европу или уже тут и ищут пути
            остаться
          </li>
          <li>россиян, которые оказались в Европе или хотят переехать сюда</li>
        </ul>
        Почему мы?
        <hr />
        <ul>
          <li>
            мы полтора года занимаемся новостной журналистикой (Новости Германии
            и полезные видео), мы умеем искать информацию
          </li>
          <li>
            у нас одна из самых популярных редакций Новостей в Германии ~ около
            100 000 подписчиков
          </li>
          <li>
            Люди в Германии и Польше знают меня (блогер Миша Бур) и мою команду
            и знают, что мы делаем на совесть
          </li>
          <li>
            у нас команда 30+ человек, из Украины, Беларуси, России, Германии,
            Польши
          </li>
          <li>
            я и часть команды живём в Европе (Польша, Германия) и знаем язык +
            как что устроено
          </li>
        </ul>
        Какую информацию мы публикуем:
        <hr />
        <ul>
          Полезные контакты, сссылки, чаты
          <li>Полезные законы, как остаться в Европе</li>
          <li>Полезных людей, которые оказывают помощь</li>
        </ul>
      </p>
    </div>
  </section>
  <section class="container" aria-label="Help Posts">
    <div class="post-container">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
