---
import MainLayout from "../layouts/MainLayout.astro";
import Icon from "astro-icon";
import PaymentForm from "../components/PaymentForm.jsx";
---

<MainLayout title="Поддержите Нас">
  <section class="support">
    <h1 class="h1">Поддержите нас!</h1>
    <PaymentForm client:load />
    <div class="notation">
      Дорогие читатели! Мы больше не можем принимать платежи из России. Но нам
      по-прежнему можно перевести деньги из любой другой точки планеты.
      Пожалуйста, расскажите об этом своим близким и друзьям, живущим
      за границей. А еще мы принимаем криптовалюту. Нашей редакции нужна
      поддержка. Как никогда.
    </div>
  </section>
</MainLayout>
