---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Помощь беженцам">
  <section
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div class="content">
      <h1 class="h1">Поддержите нас!</h1>
      <p>
        Ну Поддержите Пожалуйста :)
      </p>
    </div>
  </section>
</MainLayout>
