---
import Icon from 'astro-icon';
---

<footer>
  <div>
    <small>
      Copyright &copy;<span id="copyright"></span> | All rights reserved
    </small>
    <small class="links">
      <a href="https://www.instagram.com/mishaburnews/?igshid=YmMyMTA2M2Y%3D" target="_blank"><Icon name="tabler:brand-instagram" height="24" width="24" /></a>
      <a href="https://t.me/mishaburnews" target="_blank"><Icon name="tabler:brand-telegram" height="24" width="24" /></a>
    </small>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
