---
import Icon from 'astro-icon';
---

<footer>
  <div>
    <small>
      Copyright &copy;<span id="copyright"></span> | All rights reserved
    </small>
    <small class="links">
      <a href="https://www.instagram.com/mishaburnews/?igshid=YmMyMTA2M2Y%3D" target="_blank"><Icon name="tabler:brand-instagram" height="24" width="24" /></a>
      <a href="https://t.me/mishaburnews" target="_blank"><Icon name="tabler:brand-telegram" height="24" width="24" /></a>
      <a href="https://www.facebook.com/mishaburnews" target="_blank"><Icon name="tabler:brand-facebook" height="24" width="24" /></a>
      <a href="https://youtube.com/@mishaburnews" target="_blank"><Icon name="tabler:brand-youtube" height="24" width="24" /></a>
      <a href="https://youtube.com/https://www.tiktok.com/@mishaburnews?_t=8Z5IAZ4CSVK&_r=1" target="_blank"><Icon name="tabler:brand-tiktok" height="24" width="24" /></a>
      
    </small>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
<script>

  declare global {
    interface Window {
      netlifyIdentity: any;
    }
  }

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user : any) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
